html {
  font-size: 16px;
}

body {
  margin: 0 auto;
}

.header {
  background-color: rgb(51, 51, 51);
  display: flex;
  flex-direction: row;
  color: #ffffff;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
}

.header div:nth-child(1) {
  width: 15%;
  margin-left: 0.5rem;
  font-size: 0.8rem;
}

.header div:nth-child(2) {
  width: 70%;
  text-align: center;
}

.header div:nth-child(3) {
  width: 10%;
}

.info {
  width: 100%;
  height: 13.125rem;
  background-image: url(./img/friendcircle-banner.png);
  background-size: 100%;
}

.info > div {
  position: relative;
  top: 9.125em;
  left: 65%;
}

.info > div > span {
  font-size: 1rem;
  color: #ffffff;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.7);
}

.info > div > img {
  width: 48px;
  height: 48px;
  vertical-align: middle;
  margin-left: 0.75em;
  margin-top: 3px;
  border-radius: 0.25rem;
}

.content {
  margin: 1rem 0 0 1rem;
  display: flex;
  flex-direction: column;
}

.content .person_info > img {
  width: 2.5rem;
  height: 2.5rem;
}

.person_info {
  display: flex;
  flex-direction: row;
}

.person_info > div {
  color: #41454d;
}

#name_info {
  margin-left: 1rem;
  width: 80%;
}

.person_info .name {
  background-color: rgb(255, 240, 240);
  font-size: 0.9375rem;
  font-weight: bold;
  margin-bottom: 0.125rem;
  padding: 2px;
  display: inline-block;
}

.person_info .name_text {
  background-color: rgb(255, 240, 240);
  font-size: 0.875rem;
}

.ads_info {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
  margin-left: 4rem;
  height: auto;
}

.ads_info > img {
  width: 2.5rem;
  height: 2.5rem;
  /*  */
}

.ads_info > div {
  display: flex;
  align-items: center;
  background-color: #f7f7f7;
  font-size: 0.8125rem;
  height: 2.5rem;
  width: 75%;
  margin-left: 0.375rem;
  color: #41454d;
}

.state {
  margin-left: 4rem;
  display: flex;
  flex-direction: row;
  margin-top: 0.75rem;
}

.state > div {
  height: 2rem;
  width: 5rem;
  font-size: 0.75rem;
  color: #80858c;
  /* background-color: blue; */
}

.state > div > span {
  position: relative;
  top: -4px;
}

.state > img {
  height: 1.0625rem;
  width: 1.0625rem;
}

.time {
  margin-left: 4rem;
  font-size: 0.75rem;
  color: #acb1b7;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  display: flex;
  flex-direction: row;
  font-size: 0.875rem;
}

.disscussion {
  margin-left: 4rem;
  width: 75%;
}

.disscussion > ul > li :first-child {
  /* width:  */
  color: #5bafff;
}

.disscussion > ul > li :last-child {
  color: #41454d;
}
.switchOn,
.switchOff {
  font-size: 0.85rem;
  color: #acb1b7;
  margin-left: 4rem;
  display: none;
}
#img_one {
  width: 10.75rem;
  height: 10.75rem;
  margin-left: -0.375rem;
}
#img_two {
  width: 8.375rem;
  height: 8.375rem;
  margin-left: -0.375rem;
  margin-right: 10px;
}
#img_three {
  margin-left: -0.375rem;
  margin-right: 10px;
  width: 5.5rem;
  height: 5.5rem;
}
#img_four {
  width: 8.375rem;
  height: 8.375rem;
  margin-left: -0.375rem;
  margin-right: 10px;
  margin-bottom: 5px;
}
#img_six {
  margin-left: -0.375rem;
  margin-right: 10px;
  width: 5.5rem;
  height: 5.5rem;
  margin-bottom: 5px;
}
.footer {
  margin-top: 0.75rem;
  margin-bottom: 1rem;
  font-size: 0.75rem;
  color: #acb1b7;
  text-align: center;
}
